<app-header [logo]="false" [menu]="false" [atras]="true" [mostrarToolBar]="true" [titulo]="'Temperaturas'"></app-header>

<ion-content color="light">
  <ion-card *ngFor="let temp of temperaturas">
    <ion-item-divider color="custom">
      <ion-label style="font-size: 18px;">{{ temp.name }}</ion-label>
    </ion-item-divider>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-label class="temperatura">Temperatura: {{temp.temperature}} °C</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>