<app-header [logo]="false" [atras]="true" [mostrarToolBar]="true" [titulo]="'Comunicados'"></app-header>

<ion-content color="light">
  <ion-card mode="ios" *ngFor="let comunicado of comunicados">
    <ion-grid >
      <ion-row>
        <ion-col size="3">
          <ion-img src="{{comunicado.img_src}}"></ion-img>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-label style="font-size: 17px; font-weight: 500;">
                {{comunicado.title}}
              </ion-label>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-label style="font-size: 16px;" *ngIf="comunicado.description.length > 70">
                {{comunicado.description.substring(0,85)}} ...
              </ion-label>

              <ion-label style="font-size: 16px;" *ngIf="comunicado.description.length < 70">
                {{comunicado.description}}
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-button color="custom" (click)="details(comunicado)">
              Ver detalles
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
<!-- 
    <ion-grid *ngIf="comunicado.description.length > 100">
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 17px; font-weight: 500;">
            {{comunicado.title}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label  style="font-size: 16px;">
            {{comunicado.description}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 0px;" class="ion-justify-content-center">
        <ion-col >
          <ion-img src="{{comunicado.img_src}}"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </ion-card>
</ion-content>
