<app-header [logo]="false" [atras]="true" [mostrarToolBar]="true" [titulo]="'Crear Reservación'" [boton]="true" [iconBoton]="'calendar'"></app-header>

<ion-content color="light">
  <form #formularioReservaciones="ngForm">
    <ion-card mode="ios">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item class="select">
              <ion-label>Selecciona el area</ion-label>
              <ion-select  placeholder="Selecciona un area" (ionChange)="changeArea($event)" >
                <ion-select-option value="{{area.id}}" *ngFor="let area of informacion.areas">{{area.area}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row id="golf" *ngIf="area == '1'" class="ion-justify-content-center">
          <ion-col>
            <ion-item class="select">
              <ion-label>Selecciona el dia</ion-label>
              <ion-select (ionChange)="changeDia($event)">
                <ion-select-option value="{{dia.id}}" *ngFor="let dia of informacion.dias">{{dia.dia}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
  
          <ion-col size="12">
            <ion-item class="select">
              <ion-label>Selecciona el horario</ion-label>
              <ion-select placeholder="Selecciona el horario" >
                <ion-select-option value="horario.id" *ngFor="let horario of horarios">{{horario.inicio}} - {{horario.final}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item-divider color="custom" style="padding-top: 4px; padding-bottom: 4px;">
              <ion-icon name="person-add" slot="start" style="margin-right: 6px;"></ion-icon>
              <ion-label style="font-size: 17px;">Invitar socios</ion-label>
            </ion-item-divider>
          </ion-col>
        
          <ion-col size="12">
            <ion-label class="text">Numero de Socio: </ion-label>
            <ion-item class="select">
              <ion-input name="number1"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-label class="text">Numero de Socio: </ion-label>
            <ion-item class="select">
              <ion-input name="number2"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-label class="text">Numero de Socio: </ion-label>
            <ion-item class="select">
              <ion-input name="number3"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-label class="text">Numero de Socio: </ion-label>
            <ion-item class="select">
              <ion-input name="number4"></ion-input>
            </ion-item>
          </ion-col>
  
          <ion-col size="auto">
            <ion-button color="custom" expand="block" fill="outline">
              Guardar reservacion
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
   


    <section id="tenis">

    </section>

    <section id="alberca">

		<ion-item>
			<ion-label>Selecciona el horario</ion-label>
			<ion-select placeholder="Selecci" (ionChange)="changeArea($event)">
				<ion-select-option [value]="horario.hora" *ngFor="let horario of horarios">{{horario.title}}</ion-select-option>
			</ion-select>
		</ion-item>
	</form>
</ion-content>