<ion-header [translucent]="true">
	<ion-toolbar *ngIf="mostrarToolBar">
		<ion-buttons slot="start">
			<ion-menu-button *ngIf="menu"></ion-menu-button>
			<ion-back-button *ngIf="atras" [defaultHref]="rutaRegresar"></ion-back-button>
		</ion-buttons>
		<ion-title>{{titulo}}</ion-title>

		<ion-buttons slot="secondary" *ngIf="boton">
			<ion-button (click)="calendario()">
			  <ion-icon slot="icon-only" [name]="iconBoton" ></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- <ion-img src="./assets/images/logo_ccc.png" class="logo" *ngIf="logo"></ion-img> -->